body {
  font-family: Georgia, serif;
  background-color: #e6f2ff; 
  padding: 20px;
  min-height: 100vh;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: blue;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
img {
  width: 300px;
  margin: 10px 10px 10px 0;
}
